

.form-container {
    max-width: 400px;
    min-width: 360px;
    margin: 180px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
    
}

.form-header {
    text-align: center;
    color: #333;
    margin: 0 0 1rem;
}

form {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

input {
    margin-bottom: 18px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: 0;
}



